/* header {
    position: relative;
} */

/* body {
    background-color: ;
} */

/* .main-container {
    width: 100%;
    background-color: aquamarine;
} */

.background-text {
    font-family: Arial, Helvetica, sans-serif;
}

#logo{
    display: block;
    border: 4px solid white;
    width: 100px;
    height: auto;
    margin-top: 170px;
    margin-left: 40px;
    position: absolute;
    z-index: 2;
    top: -56px;
}

#banner {
    background-size: cover;
    /* display: inline-block;
    flex-wrap: wrap; */
    background-position: center;
    margin: 0 auto;
    position: absolute;
    z-index: 1;
    width: 100%;
    height: 180px;
    padding-top: 20px;
    
    justify-content: center;
}

.background-image {
    display: block;
    width: 100%;
    height: 300px;
    margin: 0;
    justify-content: center;
    text-align: center;
    /* background-size: cover;
    justify-content: center;
    margin-top: -24px;
    text-align: center;
    padding-right: 60px; */
}

.navbar-collapse {
    margin-left: 40px;
    margin-top: 200px;
    margin-left: 250px;
    padding-left: 20px;
}

.nav-link {
    display: inline;
    margin-right: 80px;
    padding-top: 300px;
    
}


.cards {
    display: flex;
    flex-wrap: wrap;
    padding-top: 100px;
    padding-left: 30px;
    width: 100%;
}

.card1 {
    padding-right: 20px;
    width: 20%;
}

.card2 {
    padding-right: 20px;
    width: 20%;
}

.card3 {
    padding-right: 20px;
    width: 20%;
}

.card4 {
    padding-right: 20px;
    width: 20%;
}

.d-flex {
    padding-right: 60px;
}

.btn-secondary {
    margin-top: 80px;
}

.flex-column {
    margin-top: 100px;
    margin-left: 20px;
}

.tab-content {
    margin-top: 100px;
}

.btn-primary {
    padding-left: 60px;
}

.dropdown {
    margin-left: 250px;
    margin-top: 80px;
}


.background-text {
    text-align: center;
    margin-top: -200px;
    /* display: inline;
    position: relative;
    font-size: xx-large;
    padding-top: 40px;
    color: solid white;
    transform: translate(-50, -50); */
}


hr {
    height: 8px;
}

.new-form {
    width: 100%;
    /* flex-wrap: wrap;
    align-content: center;
    margin-left: 600px; */
    
}

.existing-user {
    padding-top: -200px;
    padding-right: 50px;
    padding-left: 200px;
}


.new-user {
    padding-left: 100px;

}

.bottom-bar {
    padding: 40px;
    font-size: 20px;

}







footer {
    text-align: center;
}

a {
    color: #333;
    text-decoration: none;
    

}